---
title: false
styles: true
---

@import "alembic";

.main {
  text-align: justify;
}

/* Color changes */
a {
  color: #bf53bc;
}

a:hover {
  color: #7a3476;
}

.typeset p a, .typeset li a {
  background-image: linear-gradient(to bottom, transparent 50%, #bf53bc 50%);
}

.typeset p a:hover, .typeset li a:hover {
  background-image: linear-gradient(to bottom, transparent 50%, #7a3476 50%);
}

.copyright .small {
  line-height: 1.4rem;
}

/* Images */
img {
  vertical-align: middle;
}

/* Mods Page */
.mods .mod-entry {
  background-color: #fff8ff;
  box-shadow: 0 0 2px #b1a8b1;
  cursor: pointer;
  display: block;
  margin-bottom: 1rem;
  padding: 0.8rem;
}

.mods .mod-entry:hover {
  background-color: #f9ebff;
  box-shadow: 0 0 2px #80697f;
}

.mods .mod-entry .mod-version {
  color: #d3c3d8;
  float: right;
  font-size: 100%;
}

.mods .mod-entry .mod-name {
  color: #7a3476;
  font-size: 120%;
  font-weight: bold;
}

.mods .mod-entry .mod-description {
  font-size: 80%;
  font-style: italic;
}

/* Mod Page */
.mod .mod-description {
  font-size: 140%;
  font-style: italic;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.mod .mod-details {
  background-color: #f5e6f2;
  padding: 0.5rem;
}

.mod .mod-detail {
  margin-bottom: 1rem;
}

.mod .mod-detail pre {
  margin-top: 0.5rem;
  overflow: auto;
}